@import '../../../index.scss';

.layout__container {
  min-height: calc(100vh - 70px - 45px);
  box-sizing: border-box;
  &-active {
    @extend .layout__container;
    transition: 0.5s;
    margin-top: 505px;
  }
  &-hidden {
    @extend .layout__container;
    transition: 0.5s;
    margin-top: 67px;
  }
}

@media screen and (min-width: 768px) {
  .layout__container {
    margin-top: 100px;
    min-height: calc(100vh - 170px);
  }
}
