@import '../../../index.scss';

.header__wrapper {
  position: relative;
}

.header__container-wrapper {
  display: none;
}

.header-logo__container-mobile {
  z-index: 3;
  position: fixed;
  top: 10px;
  left: 20px;
  width: auto;
  .header__logo-mobile {
    width: 50px;
    height: 50px;
    &:hover {
      cursor: pointer;
    }
  }
}

.header__menu__container {
  position: fixed;
  top: 18px;
  right: 0;
  z-index: 2;
  width: auto;
  .header__menu {
    font-size: 2rem;
    margin-right: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.header-links__container-mobile {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 70px 0;
  background-image: linear-gradient(to bottom right, $gradient-nav-a 20%, $gradient-nav-b);
  p {
    color: white;
    margin: 5px 0;
    font-size: 1.3rem;
    letter-spacing: 2px;
    width: 200px;
    padding: 5px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      border: 2px solid white;
    }
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    margin: 10px 0 20px 0;
  }
  &-active {
    @extend .header-links__container-mobile;
    transition: 1s;
    top: 0px;
  }
  &-hidden {
    @extend .header-links__container-mobile;
    transition: 1s;
    top: calc(-508.07px + 70px);
  }
}

.header-secondary-links__container {
  &-active {
    display: none;
  }
  &-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__container-wrapper {
    position: relative;
    display: flex;
  }

  .header__menu__container {
    display: none;
  }
  .header-logo__container-mobile {
    display: none;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(to bottom right, $gradient-nav-a 20%, $gradient-nav-b);
    height: 100px;
    .header-logo__container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 10px;
      width: 30%;
      .header__logo {
        width: 70px;
        height: 70px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .header-links__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 65%;
      p {
        font-size: 1.3rem;
        letter-spacing: 2px;
        font-weight: 400;
        margin: 0;
        color: white;
        padding: 5px 15px;
        border: 2px solid transparent;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
          border-color: white;
        }
      }
      img {
        width: 66px;
        height: 66px;
        border-radius: 50%;
        object-fit: cover;
        background-color: white;
        margin-right: 45px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .header-secondary-links__container {
    position: fixed;
    z-index: 1;
    background-color: $gradient-nav-b;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 160px;
    height: 200px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    p {
      color: white;
      margin: 15px 0;
      font-size: 1.3rem;
      letter-spacing: 2px;
      width: 110px;
      padding: 5px;
      text-align: center;
      border: 2px solid transparent;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        border: 2px solid white;
      }
    }
    &-active {
      @extend .header-secondary-links__container;
      // display: initial;
      transition: 0.5s;
      top: 90px;
    }
    &-hidden {
      @extend .header-secondary-links__container;
      // display: none;
      transition: 0.5s;
      top: -100px;
    }
  }

  .header-links__container-mobile {
    &-active {
      display: none;
    }
    &-hidden {
      display: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .header__container {
    .header-logo__container {
      width: 40%;
    }
    .header-links__container {
      width: 60%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    .header-logo__container {
      width: 50%;
    }
    .header-links__container {
      width: 50%;
    }
  }
}
