@import '../../../index.scss';

.question__base {
  margin-top: 60px;
  background-color: $background-figures-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  height: auto;
  transition: 200ms;
  border-radius: 20px;
  box-shadow: 14px -14px 0px 0px $background-figures-color;
  &:hover {
    cursor: pointer;
    box-shadow: 23px -35px 0px 0px $background-figures-color;
  }
}

.question__flip {
  font-family: 'Open Sans', sans-serif;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  background-color: transparent;
}

.question__flip,
.question__inner-flip {
  &.showBack {
    transform: rotateY(-180deg);
  }
}

.question__inner-flip {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.question__front-flip,
.question__back-flip {
  box-sizing: border-box;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 400px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  border-radius: 20px;
  border: solid 2px $button-color-hover;
  h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    font-weight: 400;
    color: $button-color-hover;
  }
  h3 {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    text-align: justify;
    text-justify: distribute;
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 40px;
    color: $text-color;
  }

  .question__explanation-container {
    width: 100%;
    height: 70%;
    p {
      padding: 0;
      text-align: justify;
      text-justify: distribute;
      width: 100%;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1rem;
      margin: 10px 0;
      color: $text-color;
    }
  }

  .question-option__container {
    display: flex;
    align-items: center;
    width: 100%;
    p {
      width: 100%;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1rem;
      margin: 10px 0;
      color: $text-color;
    }
    div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0;
      border: none;
      background-color: $unselected-color;
      margin-right: 1rem;
    }
  }
}

.question__back-flip {
  transform: rotateY(-180deg);
}

@media (min-width: 768px) {
  .question__base {
    width: 300px;
    height: 400px;
  }
}

@media (min-width: 992px) {
  .question__base {
    width: 270px;
    height: 400px;
  }
  .question__flip {
    width: 270px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .question__base {
    width: 265px;
    height: 400px;
  }
  .question__flip {
    width: 265px;
    height: 400px;
  }
}
@media (min-width: 1400px) {
  .question__base {
    width: 280px;
    height: 400px;
  }

  .question__flip {
    width: 280px;
    height: 400px;
  }
}
