@import '../../../index.scss';

.question__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question__body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  border: solid 2px $button-color-hover;
  box-shadow: 14px -14px 0px 0px #fff56c;
  margin: 50px 0;
  h3 {
    text-align: center;
    width: 85%;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
    color: $text-color;
  }
  .question-option__container {
    display: flex;
    align-items: center;
    width: 85%;
    p {
      width: 90%;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1rem;
      margin: 10px 0;
      color: $text-color;
    }
    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0;
      border: none;
      background-color: $unselected-color;
      margin-right: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .question__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .question__body {
    margin: 25px 0;
  }
}

@media (min-width: 992px) {
  .question__container {
    justify-content: space-evenly;
    width: 100%;
  }
  .question__body {
    margin: 15px 15px;
    width: 300px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .question__container {
    justify-content: space-evenly;
    width: 100%;
  }
  .question__body {
    margin: 15px 15px;
    width: 260px;
    height: 400px;
  }
}
