@import '../../../index.scss';

.swal__confirm {
  transition: 0.2s ease-in-out;
  margin-bottom: 5px;
  margin-top: 0;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid $gradient-nav-b;
  color: $gradient-nav-b;
  font-size: 1.2rem;
  padding: 10px;
  &:hover {
    cursor: pointer;
    background-color: $gradient-nav-b;
    border: 2px solid $gradient-nav-b;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

// .swal__cancel {
// }

// .swal__title {
// }

// .swal__text {
// }

// .swal__actions {
// }

.swal__delete {
  transition: 0.2s ease-in-out;
  margin-bottom: 5px;
  margin-top: 0;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid $button-color;
  color: $button-color;
  font-size: 1.2rem;
  padding: 10px;
  &:hover {
    cursor: pointer;
    background-color: $button-color-hover;
    border: 2px solid $button-color-hover;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.swal__delete-cancel {
  transition: 0.2s ease-in-out;
  margin-bottom: 5px;
  margin-left: 40px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid $unselected-color;
  color: $unselected-color;
  font-size: 1.2rem;
  padding: 10px;
  &:hover {
    cursor: pointer;
    background-color: $unselected-color;
    border: 2px solid $unselected-color;
    color: white;
  }
  &:focus {
    outline: none;
  }
}
