@import '../../../index.scss';

.create-card__page-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
}

.create-card__select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0px 0px 20px 0px;
  .create-card__select-element {
    display: flex;
    flex-direction: column;
    width: 45%;
    select,
    option {
      border: solid $input-border-width $input-border-color;
      font-size: $input-font-size;
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      padding: 0px 8px;
      resize: none;
      border-radius: 5px;
      &:hover {
        background-color: white;
      }
    }
  }
}

.create-card__form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  h3 {
    text-align: center;
    align-self: center;
    font-size: $title-font-size;
    letter-spacing: 2px;
    margin-bottom: 50px;
    margin-top: 0px;
  }
}

p {
  align-items: flex-start;
  color: $button-color;
  text-align: start;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: $error-font-size;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 10px;
}

.create-card__question {
  border: solid $input-border-width $input-border-color;
  font-family: 'Open Sans', sans-serif;
  font-size: $input-font-size;
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  padding: 8px;
  resize: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.create-card__option {
  border: solid $input-border-width $input-border-color;
  font-size: $input-font-size;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 8px;
  resize: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.create-card__label-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  button {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: 0.2s;
    border: 2px solid $button-color;
    border-radius: 10px;
    height: 20px;
    width: 150px;
    margin-bottom: 10px;
    color: $button-color;
    background-color: white;
    &:hover {
      background-color: $button-color-hover;
      border: $button-color-hover;
      color: white;
      cursor: pointer;
    }
  }
  .unselected {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: 0.2s;
    border: 2px solid $unselected-color;
    border-radius: 10px;
    height: 20px;
    width: 150px;
    margin-bottom: 10px;
    color: $unselected-color;
    background-color: white;
    &:hover {
      background-color: $button-color-hover;
      border: $button-color-hover;
      color: white;
      cursor: pointer;
    }
    &:disabled {
      background-color: $unselected-color;
      border: $unselected-color;
      color: white;
      cursor: initial;
    }
  }
}

.create-card__button-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  .create-card__page-button {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: 0.2s;
    border: 2px solid $button-color;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    margin-bottom: 10px;
    color: $button-color;
    background-color: white;
    &:hover {
      background-color: $button-color-hover;
      border: $button-color-hover;
      color: white;
      cursor: pointer;
    }
    &:disabled {
      background-color: $unselected-color;
      border: $unselected-color;
      color: white;
      cursor: initial;
    }
  }

  .create-card__button-disabled {
    visibility: hidden;
  }
  .create-card__next-button-disabled {
    // visibility: hidden;
    display: none;
  }
  .create-card__save-button-disabled {
    // visibility: hidden;
    display: none;
  }
}

.create-card__explanation {
  border: solid $input-border-width $input-border-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 8px;
  resize: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.create-card__title {
  border: solid $input-border-width $input-border-color;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 8px;
  resize: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.create-card__preview-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  h3 {
    font-size: $title-font-size;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .create-card__page-body {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding: 40px 20px;
  }
}

@media (min-width: 992px) {
  .create-card__page-body {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 992px;
    height: auto;
    margin: 0 auto;
    padding: 30px 20px 0px 20px;
  }
  .create-card__preview-container {
    width: 50%;
    h3 {
      margin-top: 20px;
      font-size: $title-font-size;
      letter-spacing: 2px;
    }
  }
  .create-card__form {
    width: 50%;
    h3 {
      margin-top: 20px;
    }
  }
  .create-card__button-container {
    height: auto;
    .create-card__page-button {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .create-card__page-body {
    width: 100%;
    justify-content: space-evenly;
  }
  .create-card__preview-container {
    width: 40%;
  }
  .create-card__form {
    width: 45%;
  }
}

@media (min-width: 1400px) {
  .create-card__page-body {
    width: 100%;
    justify-content: space-evenly;
  }
  .create-card__preview-container {
    width: 30%;
  }
  .create-card__form {
    width: 35%;
  }
}
