@import '../../../index.scss';

.home__body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: white;
}

.home__technologies-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: transparent;
  h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: $text-color;
  }
  .home__technologies-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: auto;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      box-shadow: 11px 14px 0px 2px #535353;
    }
  }
}

.home__questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: $text-color;
  }
  .home__questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .home__body {
    height: auto;
    width: 768px;
    margin: 0 auto;
  }

  .home__technologies-container {
    height: 250px;
    h2 {
      margin-bottom: 50px;
      margin-top: 40px;
    }
    .home__technologies-images {
      width: 40%;
    }
  }
  .home__questions-container {
    width: 100%;
    height: 1100px;
    margin-bottom: 40px;
    h1 {
      margin-top: 70px;
      margin-bottom: 50px;
    }
    .home__questions {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }
  }
}
@media screen and (min-width: 992px) {
  .home__body {
    height: auto;
    width: 992px;
    margin: 0 auto;
  }
  .home__questions-container {
    width: 100%;
    height: auto;
    h1 {
      margin-top: 45px;
      margin-bottom: 45px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .home__body {
    height: auto;
    width: 1200px;
    margin: 0 auto;
    flex-direction: row;
  }
  .home__questions-container {
    width: 95%;
    margin-bottom: 20px;
  }
  .home__technologies-container {
    width: 25%;
    h2 {
      margin-bottom: 50px;
      margin-top: 40px;
    }
    .home__technologies-images {
      width: 100%;
      img {
        width: 90px;
        height: 90px;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .home__body {
    height: auto;
    width: 1400px;
    margin: 0 auto;
    flex-direction: row;
  }
  .home__questions-container {
    width: 75%;
  }
  .home__technologies-container {
    width: 25%;
    h2 {
      margin-bottom: 50px;
      margin-top: 40px;
    }
    .home__technologies-images {
      width: 100%;
    }
  }
}
