@import '../../../index.scss';

.home__body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: white;
}

.home-answers-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  .home-slide__text {
    color: $text-color;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 1rem;
    text-align: center;
    span {
      font-weight: 600;
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 1px;
    }
  }
}

.home-slide {
  transform: scale(1);
  transition: transform 300ms;
  min-width: 290px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-arrow-next,
.home-arrow-prev {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  transition: color 300ms;
  color: $button-color;
  top: 55%;
}

.home-arrow-next {
  right: -8px;
}
.home-arrow-prev {
  left: -5px;
}

.home-arrow-next svg,
.home-arrow-prev svg {
  transition: color 300ms;
  color: $button-color;
  width: 20px;
  height: 20px;
  &:hover {
    color: $button-color-hover;
  }
}

.home__technologies-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: transparent;
  h2 {
    margin: 20px 0 30px 0;
    font-size: $title-font-size;
    letter-spacing: 1px;
    font-weight: 600;
    color: $text-color;
  }
  .home__technologies-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: auto;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      box-shadow: 11px 14px 0px 2px #535353;
    }
  }
}

.home__questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: $title-font-size;
    letter-spacing: 1px;
    font-weight: 600;
    color: $text-color;
  }
  .home__questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .home__body {
    height: auto;
    width: 768px;
    margin: 0 auto;
  }

  .home__technologies-container {
    height: 250px;
    h2 {
      margin-bottom: 50px;
      margin-top: 40px;
    }
    .home__technologies-images {
      width: 40%;
    }
  }
  .home__questions-container {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    h1 {
      margin-top: 70px;
      margin-bottom: 50px;
    }
    .home__questions {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }
  }
}
@media screen and (min-width: 992px) {
  .home__body {
    height: auto;
    width: 99%;
    margin: 0 auto;
  }
  .home__questions-container {
    width: 100%;
    height: auto;
    h1 {
      margin-top: 45px;
      margin-bottom: 45px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .home-arrow-next {
    right: -15px;
  }
  .home-arrow-prev {
    left: -5px;
  }
  .home-slide {
    transform: scale(1);
  }
  .home__body {
    height: calc(100vh - 170px);
    width: 100%;
    margin: auto auto;
    flex-direction: row;
  }
  .home__questions-container {
    width: 75%;
    margin-bottom: 20px;
  }
  .home__technologies-container {
    width: 25%;
    h2 {
      margin-bottom: 50px;
      margin-top: 40px;
    }
    .home__technologies-images {
      width: 100%;
      img {
        width: 90px;
        height: 90px;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .home-slide {
    transform: scale(1);
  }
  .home__body {
    width: 95%;
    margin: 0 auto;
    flex-direction: row;
  }
  .home__questions-container {
    width: 75%;
  }
  .home__technologies-container {
    width: 25%;
    h2 {
      margin-bottom: 50px;
      margin-top: 40px;
    }
    .home__technologies-images {
      width: 100%;
    }
  }
}
