@import '../../../index.scss';

.my-questions__container {
  min-height: calc(100vh - 115px);
  box-sizing: border-box;
  width: auto;
  margin: 0 auto 30px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 auto;
}

.my-question__question {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto 20px auto;
  .my-question__container-buttons {
    box-sizing: border-box;
    position: absolute;
    bottom: -25px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    .my-question__delete-button {
      width: 45%;
      height: 30px;
      font-size: 1rem;
      font-weight: 400;
      color: $unselected-color;
      background-color: white;
      border: 2px solid $unselected-color;
      border-radius: 10px;
      transition: 0.2s ease-in-out;
      &:hover {
        color: white;
        background-color: $button-color-hover;
        border: 2px solid $button-color-hover;
        cursor: pointer;
      }
    }
    .my-question__edit-button {
      @extend .my-question__delete-button;
      &:hover {
        color: white;
        background-color: $gradient-nav-b;
        border: 2px solid $gradient-nav-b;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .my-questions__container {
    min-height: calc(100vh - 170px);
    width: 98%;
    padding: 0 20px;
  }
  .my-question__question {
    width: calc(100% / 2);
    margin: 0 0 30px 0;
  }
}

@media (min-width: 992px) {
  .my-question__question {
    width: calc(100% / 2);
  }
}
@media (min-width: 1300px) {
  .my-question__question {
    width: calc(100% / 3);
  }
}

@media (min-width: 1600px) {
  .my-question__question {
    width: calc(100% / 4);
  }
}
